<div class="container text-center p-5">



<form action="/login" method="POST">
    <h1>Login</h1>
    {{#if loginErr}}
      <p class="error">{{loginErr}}</p>
    {{/if}}
        <label class="mt-3">Email Address</label><br>
      <input type="email" class="fadeIn second" name="Email" placeholder="Email Address">
      <br>
      <label class="mt-3">Password</label><br>
      <input type="password" class="fadeIn third" name="Password" placeholder="password">
      <br>
      <input type="submit" class="btn btn-info mt-5" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="/signup">Create new account</a>
    </div>

    </div>