<div class="container text-center p-5">



<form action="/signup" method="POST">
    <h1>Sign Up</h1>
    <label class="mt-3">Name</label><br>
      <input type="text" class="fadeIn second" name="Name" placeholder="Name">
      <br>
        <label class="mt-3">Email Address</label><br>
      <input type="email" class="fadeIn second" name="Email" placeholder="Email Address">
      <br>
      <label class="mt-3">Password</label><br>
      <input type="password" class="fadeIn third " name="Password" placeholder="password">
      <br>
      <input type="submit" class="btn btn-info mt-5" value="Sign In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="/login">Already have an account?</a>
    </div>

    </div>