

        <section>
            <div class="row pt-5">
              
                    {{#each products}}

<div class="col-md-3 p-3">


                    <div class="card" style="width: 15rem; height:20rem">
                        <img class="card-img-top" style="height: 12rem;" src="/product-images/{{this._id}}.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{this.Name}}</h5>
                            <p class="card-text">{{this.Content}}</p>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
</div>
                    {{/each}}
               
            </div>
        </section>
  